# Compiler files
cache/
out/**/*.json

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# ABI files
!out/MoePair.sol/MoePair.json
!out/MoeFactory.sol/MoeFactory.json
!out/MoeRouter.sol/MoeRouter.json
!out/MoeQuoter.sol/MoeQuoter.json
!out/RewarderFactory.sol/RewarderFactory.json
!out/MasterChefRewarder.sol/MasterChefRewarder.json
!out/VeMoeRewarder.sol/VeMoeRewarder.json
!out/JoeStakingRewarder.sol/JoeStakingRewarder.json
!out/JoeStaking.sol/JoeStaking.json
!out/MasterChef.sol/MasterChef.json
!out/Moe.sol/Moe.json
!out/MoeStaking.sol/MoeStaking.json
!out/StableMoe.sol/StableMoe.json
!out/VeMoe.sol/VeMoe.json
!out/VestingContract.sol/VestingContract.json
!out/MoeQuoter.sol/MoeQuoter.json
!out/MoeLens.sol/MoeLens.json
!out/MoeHelper.sol/MoeHelper.json
